@model IEnumerable<TendalProject.Models.Categorium>

@{
    ViewData["Title"] = "Categorías Activas";
}

<h1>Categorías Disponibles</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de Categoria</th>
            <th>Fecha de Registro</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.IdCategoria</td>
                <td>@categoria.NombreCategoria</td>
                <td>@categoria.FechaRegistro?.ToString("dd/MM/yyyy")</td>
                <td>@categoria.Estado</td>
                <td>
                    <a asp-action="ActualizarCategoria" asp-route-id="@categoria.IdCategoria" class="btn btn-warning">
                        <i class="fas fa-edit"></i> 
                    </a>
                    <form asp-action="EliminarCategoria" asp-route-id="@categoria.IdCategoria" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas desactivar esta categoría?');">
                            <i class="fas fa-ban"></i> 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li><a href="@Url.Action("ListaCategorias", new { pageNumber = ViewBag.CurrentPage - 1 })"><i class="fas fa-chevron-left"></i> Anterior</a></li>
        }
        else
        {
            <li class="disabled"><a href="#"><i class="fas fa-chevron-left"></i> Anterior</a></li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="@Url.Action("ListaCategorias", new { pageNumber = i })">@i</a></li>
            }
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li><a href="@Url.Action("ListaCategorias", new { pageNumber = ViewBag.CurrentPage + 1 })"><i class="fas fa-chevron-right"></i> Siguiente</a></li>
        }
        else
        {
            <li class="disabled"><a href="#"><i class="fas fa-chevron-right"></i> Siguiente</a></li>
        }
    </ul>
</div>


<a asp-action="RegistrarCategoria" class="btn btn-danger">
    <i class="fas fa-plus-circle"></i> Agregar
</a>
<a asp-action="ListaCategoriasDesactivadas" class="btn btn-primary">
    <i class="fas fa-trash-alt"></i> Eliminados
</a>

<style>
    .btn-primary, .btn-success, .btn-danger {
        margin: 5px;
    }

    .btn-primary {
        background-color: #ffcc00; 
        border-color: #ffcc00;
        color: #000000;
    }

    .btn-primary:hover {
        background-color: #e6b800;
        border-color: #e6b800;
        color: #000000;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #0e7913; 
        color: #fff;
    }

    .table tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa;
    }

    .table tbody tr:hover {
        background-color: #ffe066; 
    }

    .table tbody td {
        border-bottom: 1px solid #dee2e6;
    }

    .btn-danger {
        background-color: #BF127B;
        border-color: #BF127B;
        color: #fff;
    }

    .btn-danger:hover {
        background-color: #cc00b1;
        border-color: #cc00b1;
    }

    .btn-primary, .btn-danger {
        border-radius: 20px; 
    }

    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination li a {
        color: #0e7913;
        text-decoration: none;
        padding: 8px 16px;
        border: 1px solid #0e7913;
        border-radius: 5px;
    }

    .pagination li a:hover {
        background-color: #0e7913;
        color: white;
    }

    .pagination .active a {
        background-color: #0e7913;
        color: white;
        border: 1px solid #0e7913;
    }

    .pagination .disabled a {
        color: #cccccc;
        pointer-events: none;
        border: 1px solid #cccccc;
    }
</style>
